*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: sans-serif;
}
body{
    background-color: rgba(126, 40, 187, 0.848);
    /* background-image: url("image.png"); */
    /* background-size: cover; */
    /* position: relative; */
}

button{
border: none;
outline: none;
cursor: pointer;
background-color: rgba(97, 32, 189, 0.904);
color: white;
border-radius: 0.5em;
font-weight: 600;

}
button :hover{
    cursor: pointer;
    background-color:rgba(50, 49, 53, 0.981); ;
}
.search-container{
    display:grid;
    grid-template-columns: 9fr 3fr;
    gap: 1em;
    width: 100%;
    max-width: 50em;
    margin:1em  auto;
    padding: 0.5em;


}
.search-container >input{
    padding: 1em;
    border-radius: 0.5em;
    font-weight: 400;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);


}
.container{
    background-color: rgb(16 15 16 / 39%);
    display: flex;
    padding: 1em;
    flex-direction: column;
    justify-content: space-around;
    margin: 1.5em;
    border-radius: 0.5em;
    /* position: relative; */


}
.container img{
    width: 100%;

}
.container button{
    margin-top: 1em;
    padding: 1em 0;

}
.loader{
    display: none;
    height: 15em;
    width: 15em;
    border: 3.5em solid #473c61d9;
    border-radius: 50%;
    border-top-color:rgba(61, 17, 172, 0.478);
    transform: translate(-50%, -50%);
    position:absolute;
    left: 50%;
    top: 50%;
    animation: spin 3s infinite;
}
@keyframes spin{
    100%{transform:translate(-50%,-50%)rotate(360deg);

    }
}
@media (max-width:768px) {
    .wrapper{
        grid-template-columns: repeat(2,1fr);

    }
    .container{
        margin: 0.7em;

    }
    
}
@media (max-width:576px) {
    .wrapper{
        grid-template-columns:1fr;

    }
    .container{
        margin: 0.7em;

    }

    
}